<div class="menuNav" [ngClass]="isMenuOpen? 'change1' : ''">
  <nav>
    <div routerLink="profile" (click)="close()" class="profileImg"></div>
    <h2 routerLink="profile" (click)="close()" class="texCenter lineMargin">Sandra Green</h2>
    <div class="counterContainer overflow">
      <div class="floatLeft texCenter">
        <p id="menuNav_interestedCounter">4</p>
        <img class="halfLineMargin lineIcon" alt="interested" src="./assets/bookmark.png" />
      </div>
      <div class="floatRight texCenter">
        <p id="menuNav_goingCounter">1</p>
        <img class="halfLineMargin lineIcon" alt="going" src="./assets/bookmark.png" />
      </div>
    </div>
    <ul class="menuList paddingLayoutRoule">
      <li routerLink="profile" (click)="close()">
        <a>Profilo
          <img src="./assets/next.png" alt="open" />
        </a>
      </li>
      <li routerLink="esplora" (click)="close()">
        <a>Esplora
          <img src="./assets/next.png" alt="open" />
        </a>

      </li>
      <li routerLink="new-event" (click)="close()">
        <a>Nuovo evento
          <img src="./assets/next.png" alt="open" />
        </a>
      </li>
      <li (click)="logout()">
        <a>Logout
          <img src="./assets/next.png" alt="open" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="flexGrow" (click)="close()"></div>
</div>
