<!-- Dettaglio evento -->
<p>
    new-event works!
</p>

<!-- <span *ngIf="onError">{{ onError }}</span>
<span *ngIf="onSuccess">{{ onSuccess }}</span> -->


<form novalidate>
<div>
  <h2>Evento {{ currentEvent?.name}}</h2>

  <label for="name">Titolo</label>
  <input [(ngModel)]="currentEvent.titolo" type="text" name="name" id="name" placeholder="digita il titolo"><br>

  <label for="libreria">Scegli libreria</label>
  <select [(ngModel)]= "currentEvent.sede" id="libreria" name="libreria">
    <option value="Libreria Ostia">Libreria Ostia</option>
    <option value="Libreria Ostia 1">Libreria Ostia 1</option>
    <option value="Libreria Ostia 2">Libreria Ostia 2</option>
    <option value="Libreria Ostia 3">Libreria Ostia 3</option>
  </select><br>

  <label for="data">Data</label>
  <input [(ngModel)]="currentEvent.data" type="text" name="data" id="data" placeholder="gg/mm/aaaa"><br>

  <label for="ora">Ora</label>
  <input [(ngModel)]="currentEvent.ora" type="text" name="ora" id="ora" placeholder="hh:mm"><br>

  <label for="descrizione">Descrizione</label>
  <textarea [(ngModel)]="currentEvent.descrizione" name="descrizione" id="descrizione" placeholder="digita la descrizione"></textarea><br>

  <label for="imgUrl">Scegli immagine</label>
  <select [(ngModel)]="currentEvent.immagine" id="imgUrl" name="imgUrl">
    <!-- <option value="">scegli</option> -->
    <option value="default">default</option>
    <option value="path-0">barman</option>
    <option value="path-1">cuoco</option>
    <option value="path-2">faggiani</option>
    <option value="path-3">gruppo</option>
    <option value="path-4">libreria</option>
  </select>
</div>

<button type="button" (click) = "save()">
  Aggiungi
</button>
<button type="button" (click) = "cancel()">
  Cancella
</button>

</form>