:root {
  --margin-layout: 16px;
  --half-margin-layout: 8px;
  --double-margin-layout: 32px;
  --negative-margin-layout: -16px;
  --ilClub-red: #B30000;
  --ilClub-darkGray : rgb(78, 78, 78);
  --ilClub-lightGray: rgb(241, 241, 241);
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/EBGaramond-Regular.ttf');
}
* {
  box-sizing: border-box;
}
img, embed, object, video{
  max-width: 100%;
}
button, input {
  min-width: 48px;
  min-height: 48px;
}
button,
input[type=button]{
  transition: all 0.3s ease-out;
}
button:hover,
input[type=button]:hover {
  font-size: 0.8rem;
}
button.disabled,
button[disabled],
input.disabled,
input[disabled]{
  cursor: not-allowed;
  opacity: .4;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: var(--ilClub-lightGray, rgb(241, 241, 241));
}
body{
  font-family: 'EB Garamond', serif;
}
h1, h2, h3, p, ul{
  margin: 0px;
  padding: 0px;
}
ul{
  list-style-type: none;
}
h3{
  font-size: 14px;
}
p, h3, h4 {
  color: rgb(78, 78, 78);
}
a{
  text-decoration: none; color:white;
}
label, input, button, select, textarea {
  display: block;
  width: 100%;
}
input, button, select{
  cursor: pointer;
  height: 2.7rem;
  padding: var(--half-margin-layout, 8px);
}
label {
  font-size: 1.15rem;
  padding-top: 0.6rem;
}
textarea {
  resize: none;
}
header {
  width: 100%;
  height: 3.4rem;
  background-color: var(--ilClub-red, #B30000);
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index:10;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.page{
  height: 100vh;
}
.pageContent {
  padding-top: 3.4rem;
  height: 100%;
  display: flex;
}
main{
  flex-grow: 1;
}

/*IlClub UI elements*/
.squareButton{
  background-color: var(--ilClub-lightGray, rgb(241, 241, 241));;
  border: 0;
  font-weight: bold;
}
.pageButtonsContainer{
  position: fixed;
  right: var(--margin-layout, 16px);
  bottom: var(--margin-layout, 16px);
  z-index: 2;
}

.pageButtonsContainer>button{
  width: 2.9rem;
  height: 2.9rem;
  margin-top: 1rem;
  border-radius: 50%;
  border:0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  fill: black;
}
.pageButtonsContainer>button:last-child{
  width: 3.3rem;
  height: 3.3rem;
  background-color: var(--ilClub-red, #B30000);
  color: white;
}
.pageButtonsContainer>button:hover{
  box-shadow: none;
}

.calendarIcon{
  background-image: url('assets/calendarBlack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.newIcon{
  background-image: url('assets/new.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
/*Mobile event element*/
.cardForm{
  position: relative;
  padding: var(--margin-layout, 16px);
  padding-top: var(--half-margin-layout, 8px);
  margin: var(--margin-layout, 16px);
  margin-top: var(--negative-margin-layout, -16px);
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  transition: margin 0.2s ease-in;
}
.card{
  width: 100%;
  margin-bottom: var(--margin-layout, 16px);
}
.cardImg {
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardDetail{
  position: relative;
  height: 12rem;
  padding: var(--margin-layout, 16px);
  padding-top: var(--half-margin-layout, 8px);
  margin-left: var(--margin-layout, 16px);
  margin-right: var(--margin-layout, 16px);
  margin-top: var(--negative-margin-layout, -16px);
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  transition: margin 0.2s ease-in;
}
.cardRoundButtonContainer{
  position: absolute;
  height: 3rem;
  display: flex;
  flex-direction: revert;
  right: var(--margin-layout, 16px);
  top: -1.65rem;
  margin-left: auto;
}
.cardRoundButtonContainer>button{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border:0;
  background-size: 40%;
  margin-left: 1rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.cardRoundButtonContainer>button:hover{
  box-shadow: none;
}
.cRBdelete{
  background: var(--ilClub-red, #B30000) url('assets/delete.png') no-repeat center;
}
.cRBedit{
  background: var(--ilClub-red, #B30000) url('assets/editButton.png') no-repeat center;
}
.cRBnoPartecipa{
  background: var(--ilClub-red, #B30000) url('assets/bookmark.png') no-repeat center;
}
.cRBpartecipa{
  background: var(--ilClub-darkGray, rgb(78, 78, 78)) url('assets/bookmark.png') no-repeat center;
  /*vuoto*/
}




.pageTitle {
  padding: var(--margin-layout, 16px);
  height: 10rem;
  width: 100%;
  color: white;
  text-align: left;
  background-color: var(--ilClub-darkGray) no-repeat;
  background-size: cover;
  background-position: center;
}
.pageTitle * {
  margin: auto auto auto 0;
}
.accentButton{
  background-color: var(--ilClub-red, #B30000);
  color: white;
  border-color: var(--ilClub-red, #B30000);
}
/*End ---- Mobile event element*/
/*End ---- IlClub UI elements*/

/*Utility*/
.flex {
  display: flex;
}
.flexGrow {
  flex-grow: 1;
}
.flexWrap {
  flex-wrap: wrap;
}
.widthLayoutRoule{
  width: var(--margin-layout, 16px);
}
.width10{
  width: 10%;
}
.width20{
  width: 20%;
}
.width35{
  width: 35%;
}
.width60{
  width: 60%;
}
.width50{
  width: 50%;
}
.width100{
  width: 100%;
}
.space{
  height: 9rem;
}
.texCenter{
  text-align: center;
}
.contentCenter {
  margin: 0 auto 0 auto;
}
.contentVerticalCenter {
  margin: auto 0;
}
.textJustified{
  text-align: justify;
  text-justify: inter-word;
}
.lineMargin{
  margin-top: 8px;
}
.halfLineMargin{
  margin-top: 4px;
}
.lineIcon{
  height: 1rem;
}
.overflow{
  overflow: hidden;
}
.floatLeft{
  float:left;
}
.floatRight{
  float: right;
}
.paddingLayoutRoule {
  padding: var(--margin-layout, 16px);
}
.marginLayoutRoule {
  margin: var(--margin-layout, 16px);
}
.paddingHalfLayoutRoule {
  padding: var(--half-margin-layout, 8px);
}
.whiteFont{
  color: white;
}
.lightGrayBackground{
  background: var(--ilClub-lightGray, rgb(241, 241, 241));
}
.hide{
  visibility: hidden !important;
}
.show{
  visibility: visible !important;
}
.boxShadow{
  box-shadow: 0 0 10px #888888;
}
.blurable{
  filter: none;
  transition: filter 0.3s linear;
}
.blur {
  filter: blur(2.5px);
/*brightness(70%);*/
}
.focus {
  filter: none !important;
}
.mobile{
  display: block;
}
.desktop{
  display: none;
}
#menuButton{
  padding: 0.8rem var(--margin-layout, 16px);
}
.backgroundImage{
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 500;
}
@media only screen and (max-width: 500px) and (orientation: portrait) {
  .backgroundImage{
    background: url('./assets/loginBkgMobile.jpg') no-repeat top center;
  }
}
@media only screen and (min-width: 501px) {
  .backgroundImage{
    background: url('./assets/loginBkg_media.jpg') no-repeat top center;
  }
}
@media only screen and (orientation: landscape)
{
  .backgroundImage {
    background: url('./assets/loginBkg_media.jpg') no-repeat top center;
  }
  .mobile{
    display: none !important;
  }
  .desktop{
    display: block !important;
  }
}
@media only screen and (min-width: 700px) {
  #menuButton{
    display: none;
  }
  .mobile{
    display: none !important;
  }
  .desktop{
    display: block !important;
  }

 /* :root {
    --margin-layout: 32px;
    --double-margin-layout: 64px;
    --negative-margin-layout: -32px;
  }*/

  .card{
    width: 50%;
    padding-left: var(--half-margin-layout, 8px);
    padding-right: var(--half-margin-layout, 8px);
    margin: 0;
    margin-top: var(--margin-layout, 16px);
  }
  .cardImg{
    height: 9rem;
    margin: 0;
  }
  .cardDetail{
    margin: 0;
  }
}



/*Desktop*/
@media only screen and (min-width: 1000px) {

}

@media only screen and (min-width: 1200px) {
 /* :root {
    --margin-layout: 48px;
    --double-margin-layout: 96px;
    --negative-margin-layout: -48px;
  }*/
  .backgroundImage {
    background: url('./assets/loginBkg.jpg') no-repeat top center;
  }
  #menuButton{
    display: none;
  }
  .card{
    width: 33.3%;
  }
}
/*2K TV*/
@media only screen and (min-width: 2100px) {
  body, html {
    font-size: 26px;
  }
  /*
  :root {
    --margin-layout: 64px;
    --double-margin-layout: 128px;
    --negative-margin-layout: -64px;
  }*/
  .card{
    width: 25%;
  }
}
