<div class="col-5">
    <div class="Calendario">
        <div class="col-12">13 Aprile</div>
        <div class="col-12" id="mese">Aprile 2017</div>
        <div class="col-2"></div>
        <div class="col-8">
            <div class="col-2 giorno" (click)="showDay(2)">3</div>
            <div class="col-2 giorno" (click)="showDay(1)">1</div>
            <div class="col-2 giorno" (click)="showDay(3)">2</div>
            <div class="col-2 giorno" (click)="showDay(4)">4</div>
            <div class="col-2 giorno" (click)="showDay(5)">5</div>
            <div class="col-2 giorno" (click)="showDay(6)">6</div>
            <div class="col-2 giorno" (click)="showDay(7)">7</div>
            <div class="col-2 giorno" (click)="showDay(8)">8</div>
            <div class="col-2 giorno" (click)="showDay(9)">9</div>
            <div class="col-2 giorno" (click)="showDay(10)">10</div>
            <div class="col-2 giorno" (click)="showDay(11)">11</div>
            <div class="col-2 giorno" (click)="showDay(12)">12</div>
            <div class="col-2 giorno" (click)="showDay(13)">13</div>
            <div class="col-2 giorno" (click)="showDay(14)">14</div>
            <div class="col-2 giorno" (click)="showDay(15)">15</div>
            <div class="col-2 giorno" (click)="showDay(16)">16</div>
            <div class="col-2 giorno" (click)="showDay(17)">17</div>
            <div class="col-2 giorno" (click)="showDay(18)">18</div>
            <div class="col-2 giorno" (click)="showDay(19)">19</div>
            <div class="col-2 giorno" (click)="showDay(20)">20</div>
            <div class="col-2 giorno" (click)="showDay(21)">21</div>
            <div class="col-2 giorno" (click)="showDay(22)">22</div>
            <div class="col-2 giorno" (click)="showDay(23)">23</div>
            <div class="col-2 giorno" (click)="showDay(24)">24</div>
            <div class="col-2 giorno" (click)="showDay(25)">25</div>
            <div class="col-2 giorno" (click)="showDay(26)">26</div>
            <div class="col-2 giorno" (click)="showDay(27)">27</div>
            <div class="col-2 giorno" (click)="showDay(28)">28</div>
            <div class="col-2 giorno" (click)="showDay(29)">29</div>
            <div class="col-2 giorno" (click)="showDay(30)">30</div>
        </div>
        <div class="col-2">></div>
    </div>
</div>
