<div #miotest id="Calendario" [ngClass]="isCalendarVisible ? 'fadeIn' : 'fadeOut'">
  {{isCalendarVisible}}
  <div class="flexGrow"></div>
  <div>
    <div class="calendarHeader">
      <h2 id="calendar_date">13 Aprile</h2>
    </div>
    <h2 class="texCenter halfLineMargin" id="calendar_month">Aprile 2017</h2>
    <div class="flex paddingHalfLayoutRoule">
      <div class="calendarButton contentVerticalCenter" id="calendarBack"></div>
      <div class="flexGrow flex flexWrap" id="calendarDaysGrid">
        <div *ngFor="let day of dayOfMouth" (click)="changeSelectedDay(day)">{{day}}</div>
      </div>
      <div class="calendarButton contentVerticalCenter" id="calendarNext"></div>
    </div>

    <div class="flex paddingLayoutRoule">
      <input class="flexGrow squareButton" type="button" (click)="hide()" value="❮  cancella">
      <div class="widthLayoutRoule"></div>
      <input class="flexGrow squareButton redButton" type="button" (click)="showDay(selectedDay)" value="seleziona">
    </div>
  </div>

  <div class="flexGrow"></div>
</div>
