body{
    margin: 0;
}


/*--------------------------------- grid view ---------------------------------------------------------------------------*/
.row::after {
    content: "";
    clear: both;
    display: table;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



[class*="col-"] {
    float: left;
    padding: 0;
    margin: 0;
    border: 0px solid rgba(255, 0, 0, 0.14);
    box-sizing: border-box;
}


/*--------------------------------- header ---------------------------------------------------------------------------*/
header{
    width: auto;
    background-color: #B30000;
    color: white;
    padding: 1% 0;
    margin: 0;
    overflow: hidden;
}
header div:nth-child(2){
    text-align: center;
}
header div:last-child{
    text-align: end;
}


/*--------------------------------- section ---------------------------------------------------------------------------*/
section{
    width: 100%;
    background-color: rgb(255, 180, 180);
    margin: 0;
}
section > div:first-child{
    padding-right: 2%;
    padding-left: 7%;
}
section > div:last-child{
    padding-left: 2%;
    padding-right: 7%;
}
.Calendario{
    width: 100%;
    height: 80%;
    background: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 0, 0, 0.14);
    border-top-width: 0;
}
div.Calendario div.col-12:first-child{
    height: 25%;
    text-align: center;
    background: #B30000;
    color: white;
    padding-top: 10%;
}
div.Calendario div.col-12:nth-child(2){
    text-align: center;
    height: 3%;
    padding-top: 5%;
}
div.Calendario > div.col-2, div.col-8{
    text-align: center;
    height: auto;
}
div.Calendario div.col-2{
    padding-top: 39%;
}
div.Calendario div.col-8{
    padding-top: 15%;
    display: table;
}
div.Calendario div.col-8 div.col-2{
    padding: 5% 0;
    display: table-cell;
}
div.Calendario div.col-8 div.col-2:nth-child(13){
    display: table-cell;
    background-color: #B30000;
    color: white;
    border-radius: 50%;
}



.EventiUtente{
    width: 100%;
    margin: 2% 0;
    height: 20%;
    background: lightblue;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgba(255, 0, 0, 0.14);
}
div.EventiUtente div.col-9{
    background: white;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 5%;
}
div.EventiUtente div.col-3{
    /*background-image: url("libreria3.jpg");*/
    background-size: cover;
    height: 100%;
}
div.EventiUtente div.col-9 p{
    margin-top: 4%;
    margin-bottom: 4%;
}
div.EventiUtente div.col-9 p:first-child{
    font-size: 25px;
}




/*--------------------------------- responsive ---------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    
    header{
        padding: 1% 1%;
    }
    section > div:first-child{
        display: none;
    }
    section > div:last-child{
        padding: 3% 3%;
    }
    .Calendario{
        display: none;
    }
    .col-7{
        width: 100%;
    }
    .col-9{
        width: 65%;
    }
    .col-3{
        width: 35%;
    }
      
}