<header>
  <div class="width35">
    <div id="menuButton" class="headerButton" [ngClass]="menuOpen ? 'change': '' " (click)="menuClicked()">
      <div id="barra1"></div>
      <div id="barra2"></div>
      <div id="barra3"></div>
    </div>
  </div>

  <a routerLink="home" class="flexGrow texCenter headerButton">
    <h1>ilClub</h1>
  </a>

  <div class="width35 overflow">
    <div routerLink="notifiche" id="notificationButton" class="headerButton floatRight">
      <img src="../../assets/notifications-button.svg" alt="notification">
    </div>
  </div>
</header>
