<div class="profileBackground"></div>
<section class="cardDetail">
  <h2>Sandra Green</h2>
  <h3>SandraGreen@email.com</h3>
  <p class="textJustified lineMargin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus metus ac lorem vestibulum iaculis.
    Pellentesque dignissim felis ut sollicitudin suscipit. Curabitur vehicula rhoncus accumsan. </p>
</section>
<section>
  <div class="card">
    <div class="cardImg"></div>
    <div class="cardDetail">
      <div class="cardRoundButton"></div>
      <h2>Manuale del perfetto barman</h2>
      <div class="lineMargin">
        <img class="lineIcon" src="res/calendar-black.svg" alt="calendar" />
        <span id="dataEvento">13 Aprile 9:30pm</span>
      </div>
      <div id="partecipanti">
        <img class="lineIcon" src="res/users.svg" alt="calendar" />
        <span id="numPartecipanti">26</span>
      </div>
      <div id="eventDescription">
        <p class="textJustified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus metus ac lorem vestibulum
          iaculis.</p>
      </div>
    </div>
  </div>
</section>
