
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
:root {
    --margin-layout: 16px;
    --half-margin-layout: 8px;
    --negative-margin-layout: -16px;
    --ilClub-red: #B30000;
}
img, embed, object, video{
    max-width: 100%;
}
button {
    min-width: 48px;
    min-height: 48px;
}
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    background: rgb(241, 241, 241)
}
h1, h2, h3, p, ul{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;    
}
h3{
    font-size: 14px;
}
p, h3, h4 {
    color: rgb(78, 78, 78);
}
header {    
    width: 100%;
    height: 3.4rem;
    background-color: var(--ilClub-red) ;
    color: white;
    display: flex;
    position: fixed;
    top: 0px;
}
.page {
    margin-top: 3.4rem;
    display: flex;
}
/*Header css*/
.headerButton {
    height: 100%;
    width: fit-content;
    padding: 0.8rem var(--margin-layout);
}
.headerButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#notificationButton>img{
    height: 100%;
}

    /* Menu Icon*/
    #menuButton {        
        cursor: pointer;
    }
    #barra1, #barra2, #barra3{
        width: 1.9rem;
        height: 0.2rem;
        background-color: white;
        margin: 0.2rem 0px;     
        transition: 0.3s;
        transition-timing-function: ease-in;
    }
    #barra2{
        margin: 0.4rem 0px;
    }
    .change #barra1 {
        -webkit-transform: rotate(-45deg) translate(-0.2.5rem, 0.6rem) ;
        transform: rotate(-45deg) translate(-0.25rem, 0.6rem) ;
    }
    .change #barra2 {opacity: 0;}
    .change #barra3 {
        -webkit-transform: rotate(45deg) translate(-0.25rem, -0.6rem) ;
        transform: rotate(45deg) translate(-0.25rem, -0.6rem) ;
    }
    /*End ---- Menu Icon*/

    /* Side Menu*/
    #menuNav {
        width: 300px;
        height: 100%;
        background-color: var(--ilClub-red) ;
        position: fixed;
        padding: var(--margin-layout);        
        color: white;
        -webkit-transform: translate(-300px);
        transform: translateX(-300px);
        transition: transform 0.2s ease-in;
    }
      #menuNav.change1 {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .profileImg {
        width: 9rem;
        height: 9rem;
        margin: 0 auto 0 auto;
        border-radius: 50%;
        border: 0.18rem white solid;
        background: url("res/profile.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .counterContainer {
        width: 8rem;        
        margin: 0 auto 0 auto;
    }
    .counterContainer p {
        color: white;
        font-size: 1.75rem;        
    }
    .counterContainer img {
        height: 1.45rem;  
    }
    .menuList li{
        padding-bottom: var(--margin-layout);
        padding-top: var(--margin-layout);
        font-size: 1.3rem;
        overflow: hidden;
        transition: transform 0.1s ease-in;
    }
    .menuList li:hover {
        -webkit-transform: translate(35px, 0);
        transform: translate(35px, 0);
    }
    .menuList li img {
        height: 1.45rem;
        float: right;        
    }
    /*End ---- Side Menu*/
/*End ---- Header css*/


/*ProfilePage*/
.profileBackground {
    height: 14rem;
    background: url("res/profile.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
}
/*End ---- ProfilePage*/

/*IlClub UI elements*/
    /*Mobile event element*/
    .cardImg {
        width: 100%;
        height: 8rem;
        background: url("res/gogol_1.jpg") no-repeat;
        background-size: cover;
        background-position: center; 
    }
    .cardDetail{        
        padding: var(--margin-layout);
        padding-top: var(--half-margin-layout);
        margin: var(--margin-layout);
        margin-top: var(--negative-margin-layout);
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
        transition: margin 0.2s ease-in;
    }
    .cardDetail:hover{
        margin: 0px 0px var(--margin-layout) 0px;
        box-shadow:0;
    }
    /*End ---- Mobile event element*/
/*End ---- IlClub UI elements*/

/*Utility*/
.flex {
    display: flex;
}
.flexGrow {
    flex-grow: 1;
}
.width35{
    width: 35%;    
}
.width60{
    width: 60%;
}
.texCenter{
    text-align: center;
}
.textJustified{
    text-align: justify;    
    text-justify: inter-word;
}
.lineMargin{
    margin-top: 8px;
}
.halfLineMargin{
    margin-top: 4px;
}
.lineIcon{
    height: 1rem;
}
.overflow{
    overflow: hidden;
}
.floatLeft{
    float:left;
}
.floatRight{
    float: right;
}
.paddingLayoutRoule {
    padding: var(--margin-layout);
}
/*End Utility*/

/*desktop margin 24px*/
/*
@media only screen and (min-width: 800px) {
	.header {
		
    padding: 0.5rem 24px 0.5rem 24px;
	}
}
*/
@media only screen and (min-width: 500px) {
    #menuNav {
      -webkit-transform: translate(-400px);
      transform: translateX(-400px);
      width: 400px;

    }
}
@media only screen and (min-width: 800px) {
    #menuNav {
      -webkit-transform: translate(0);
      transform: translateX(0);
      position: static;      
      /*fisso sulla sinistra*/      
    }
    #menuButton{
        display: none;
    }
    :root {
        --margin-layout: 24px;
        --negative-margin-layout: -24px;
    }
}
/*Desktop*/
@media only screen and (min-width: 1000px) {
    #menuNav {
        -webkit-transform: translate(-400px);
        transform: translateX(-400px);
        position: fixed;
        /*scorrimento da sinistra*/
    }
    #menuButton{
        display: block;
    }
}
/*2K TV*/
@media only screen and (min-width: 1440px) {
        #menuNav {        
            width: 500px;
            -webkit-transform: translate(0);
            transform: translateX(0);
            position: static;
            /*fisso sulla sinistra*/
        }
        #menuButton{
            display: none;
        }
        body, html {          
            font-size: 26px;
        }
}