.EventiUtente{
  width: 100%;
  margin: 2% 0;
  height: 20%;
  background: lightblue;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgba(255, 0, 0, 0.14);
}
div.EventiUtente div.col-9{
  background: white;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5%;
}
div.EventiUtente div.col-3{
  background-image: url('../../assets/EventDefault.jpg');
  background-size: cover;
  height: 100%;
}
div.EventiUtente div.col-9 p{
  margin-top: 4%;
  margin-bottom: 4%;
}
div.EventiUtente div.col-9 p:first-child{
  font-size: 25px;
}
