<div class="col-7" id="boxEventi">

  <div *ngFor="let evento of showEvents" class='EventiUtente'>
    <div class='col-9'>
      <p>{{evento.titolo}}</p><p>{{evento.data}}</p> <p>{{evento.sede}}</p>
    </div>
    <!--<div class='col-3' data-img='"+evento.immagine+"'></div>-->
    <button *ngIf="evento.owner === 'sandra.green@email.com'" (click)="deleteEvent(evento.key)">Cancella</button>
    <button *ngIf="evento.owner === 'sandra.green@email.com'" (click)="editEvent(evento.key)">Modifica</button>
  </div>

</div>
