#Calendario {
  padding: var(--margin-layout, 16px);
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  transition: transform .6s ease;
  -ms-transform: scale(0); /* IE 9 */
  transform: scale(0);
}


#Calendario > div:nth-child(2) {
  width: 100%;
  background: white;
}

.calendarHeader {
  height: 7rem;
  text-align: center;
  background: #B30000;
  color: white;
  padding: var(--margin-layout, 16px)
}

.calendarButton {
  width: 1.3rem;
  height: 1.45rem;
}

#calendarBack {
  background: url('../../assets/back_black.png') no-repeat center;
}

#calendarNext {
  background: url('../../assets/next_black.png') no-repeat center;
}

.calendarSelectedDay {
  display: table-cell;
  background-color: #B30000;
  color: white;
  border-radius: 50%;
}

#calendarDaysGrid > div {
  width: 14.28%;
  height: 3rem;
  text-align: center;
  font-size: 1.36rem;
}

#calendarDaysGrid > div:hover {
  background-color: rgb(224, 224, 224);
}

.fadeOut {
  /*background-color: transparent !important;*/
  -ms-transform: scale(0) !important; /* IE 9 */
  -webkit-transform: scale(0) !important; /* Safari */
  transform: scale(0) !important;
}
.fadeIn {
  /*background-color: rgba(0, 0, 0, 0.23) !important;*/
  -ms-transform: scale(1) !important; /* IE 9 */
  -webkit-transform: scale(1) !important; /* Safari */
  transform: scale(1) !important;
}
