<form novalidate *ngIf="show" #newEventForm="ngForm">
  <div class="pageTitle" [style.background-image]="'url('+currentEvent.immagine+')'">
  </div>
  <div class="cardForm">
    <label for="nome_evento">Nome dell'evento</label>
    <input id="nome_evento" name="nome_evento" type="text" required [(ngModel)]="currentEvent.titolo">
    <div>
      <label for="libreria">Scegli libreria</label>
      <select required [(ngModel)]="currentEvent.sede" id="libreria" name="libreria">
        <option value="Libreria Ostia">Libreria Ostia</option>
        <option value="Libreria Ostia 1">Libreria Ostia 1</option>
        <option value="Libreria Ostia 2">Libreria Ostia 2</option>
        <option value="Libreria Ostia 3">Libreria Ostia 3</option>
      </select>
    </div>

    <div class="flex">
      <div class="width50">
        <label for="data">Data</label>
        <input required [(ngModel)]="currentEvent.data"
               id="data" name="data" type="date" placeholder="gg/mm/aaaa">
      </div>

      <div class="width50">
        <label for="ora">Ora</label>
        <input required [(ngModel)]="currentEvent.ora" type="time"
               id="ora" name="ora" value="14:30" placeholder="hh:mm" step="60">
      </div>
    </div>

    <!-- Terza riga -->
    <div>
      <label for="descrizione">Descrizione</label>
      <textarea required [(ngModel)]="currentEvent.descrizione"
                rows="5" id="descrizione" name="descrizione"
                placeholder="Descrizione evento..."> </textarea>
    </div>
    <div>
      <label for="imgUrl">Genere evento</label>
      <select required [(ngModel)]="currentEvent.immagine" id="imgUrl" name="imgUrl" [value]="currentEvent.immagine">
        <option value="./assets/EventDefault.jpg">generale</option>
        <option value="./assets/EventDefault.jpg">barman</option>
        <option value="./assets/EventDefault.jpg">cuoco</option>
        <option value="./assets/EventDefault.jpg">gruppo</option>
        <option value="./assets/EventDefault.jpg">gruppo</option>
        <option value="./assets/EventDefault.jpg">libreria</option>
      </select>
    </div>
    <!-- Quarta riga -->
  </div>
  <div class="flex paddingLayoutRoule">
    <input class="flexGrow squareButton" type="button" (click)="cancel()" value="❮  cancella">
    <div class="widthLayoutRoule"></div>
    <input class="flexGrow squareButton accentButton" type="button"
           [disabled]="!newEventForm.valid || newEventForm.pristine" (click)="save()" value="salva">
  </div>
</form>
