:root {
  --margin-layout: 16px;
  --half-margin-layout: 8px;
  --negative-margin-layout: -16px;
  --ilClub-red: #B30000;
  --ilClub-darkGray : rgb(78, 78, 78);
}

.headerButton {
  height: 100%;
  width: fit-content;
  padding: 0.8rem var(--margin-layout);
}
.headerButton:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#menuButton {
  cursor: pointer;
}
#barra1, #barra2, #barra3{
  width: 1.9rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.2rem 0px;
  transition: 0.3s;
  transition-timing-function: ease-in;
}
#barra2{
  margin: 0.4rem 0px;
}
.change #barra1 {
  -webkit-transform: rotate(-45deg) translate(-0.25rem, 0.6rem) ;
  transform: rotate(-45deg) translate(-0.25rem, 0.6rem) ;
}
.change #barra2 {opacity: 0;}
.change #barra3 {
  -webkit-transform: rotate(45deg) translate(-0.25rem, -0.6rem) ;
  transform: rotate(45deg) translate(-0.25rem, -0.6rem) ;
}

#notificationButton>img{
  height: 100%;
}
