<header>
  <div class="width35">
    <div id="menuButton" class="headerButton">
      <div id="barra1"></div>
      <div id="barra2"></div>
      <div id="barra3"></div>
    </div>
  </div>

  <a class="flexGrow texCenter headerButton">
    <a routerLink="/app-page-home"></a> <h1>ilClub</h1> </a>
  </div>

  <div class="width35 overflow">
    <div id="notificationButton" class="headerButton floatRight">
      <img src="../../assets/notifications-button.svg" alt="notification">
    </div>
  </div>
</header>
