:root {
  --margin-layout: 16px;
  --half-margin-layout: 8px;
  --negative-margin-layout: -16px;
  --ilClub-red: #B30000;
  --ilClub-darkGray : rgb(78, 78, 78);
  --ilClub-lightGray: rgb(241, 241, 241)
}
img, embed, object, video{
  max-width: 100%;
}
button, input {
  min-width: 48px;
  min-height: 48px;
}
button.disabled,
button[disabled],
input.disabled,
input[disabled]{
  cursor: not-allowed;
  opacity: .4;
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'EB Garamond', serif;
  background: var(--ilClub-lightGray, rgb(241, 241, 241));
}
h1, h2, h3, p, ul{
  margin: 0px;
  padding: 0px;
}
ul{
  list-style-type: none;
}
h3{
  font-size: 14px;
}
p, h3, h4 {
  color: rgb(78, 78, 78);
}
a{
  text-decoration: none; color:white;
}
label, input, select, textarea {
  display: block;
  width: 100%;
  min-height: 2rem;
}
input, button {
  cursor: pointer;
  height: 2.7rem;
  padding: var(--half-margin-layout, 8px);
}
label {
  padding-top: 0.6rem;
}
header {
  width: 100%;
  height: 3.4rem;
  background-color: var(--ilClub-red, #B30000);
  color: white;
  display: flex;
  position: fixed;
  top: 0;
}
.page {
  padding-top: 3.4rem;
  display: flex;
}
main{
  flex-grow: 1;
}

/*IlClub UI elements*/
.squareButton{
  background-color: white;
  border: 1px gray solid;
  font-weight: bold;
}
.roundButton{
  position: absolute;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border:0px;
  background-color: var(--ilClub-red, #B30000);
  right: var(--margin-layout, 16px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.roundButton:hover{
  box-shadow: none;
}
.calendarIcon{
  background-image: url("assets/calendar-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.newIcon{
  background-image: url("assets/new.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
/*Mobile event element*/
.cardImg {
  width: 100%;
  height: 8rem;
  background: url("assets/gogol_1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.cardForm{
  position: relative;
  padding: var(--margin-layout, 16px);
  padding-top: var(--half-margin-layout, 8px);
  margin: var(--margin-layout, 16px);
  margin-top: var(--negative-margin-layout, -16px);
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  transition: margin 0.2s ease-in;
}
.cardDetail{
  position: relative;
  padding: var(--margin-layout, 16px);
  padding-top: var(--half-margin-layout, 8px);
  margin: var(--margin-layout, 16px);
  margin-top: var(--negative-margin-layout, -16px);
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  transition: margin 0.2s ease-in;
}
.cardDetail #partecipanti,
.cardDetail #eventDescription {
  display: none;
}
.cardDetail:hover{
  margin: 0px 0px var(--margin-layout, 16px) 0px;
  box-shadow:0;
}
.cardDetail:hover> div{
  display: block;
}
.cardDetail:hover #partecipanti,
.cardDetail:hover #eventDescription {
  display: block;
}
.cardRoundButton{
  position: absolute;
  display: none;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border:0px;
  background-color: var(--ilClub-red, #B30000);
  background-image: url("assets/bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: var(--margin-layout, 16px);
  top: -1.65rem;
  margin-left: auto;
}
.pageTitle {
  padding: var(--margin-layout, 16px);
  height: 10rem;
  background-color: var(--ilClub-darkGray);
  color: white;
  text-align: left;
}
.pageTitle * {
  margin: auto auto auto 0;
}
.redButton{
  background-color: var(--ilClub-red, #B30000);
  color: white;
}
/*End ---- Mobile event element*/
/*End ---- IlClub UI elements*/

/*Utility*/
.flex {
  display: flex;
}
.flexGrow {
  flex-grow: 1;
}
.flexWrap {
  flex-wrap: wrap;
}
.widthLayoutRoule{
  width: var(--margin-layout, 16px);
}
.width10{
  width: 10%;
}
.width35{
  width: 35%;
}
.width60{
  width: 60%;
}
.width50{
  width: 50%;
}
.width100{
  width: 100%;
}
.texCenter{
  text-align: center;
}
.contentCenter {
  margin: 0 auto auto auto;
}
.contentVerticalCenter {
  margin: auto 0;
}
.textJustified{
  text-align: justify;
  text-justify: inter-word;
}
.lineMargin{
  margin-top: 8px;
}
.halfLineMargin{
  margin-top: 4px;
}
.lineIcon{
  height: 1rem;
}
.overflow{
  overflow: hidden;
}
.floatLeft{
  float:left;
}
.floatRight{
  float: right;
}
.paddingLayoutRoule {
  padding: var(--margin-layout, 16px);
}
.marginLayoutRoule {
  margin: var(--margin-layout, 16px);
}
.paddingHalfLayoutRoule {
  padding: var(--half-margin-layout, 8px);
}
.whiteFont{
  color: white;
}
.lightGrayBackground{
  background: var(--ilClub-lightGray, rgb(241, 241, 241));
}
/*End Utility*/


/*Elimina*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



[class*="col-"] {
  float: left;
  padding: 0;
  margin: 0;
  border: 0px solid rgba(255, 0, 0, 0.14);
  box-sizing: border-box;
}
/*fine elimina*/















@media only screen and (min-width: 500px) {
  #menuNav {
    -webkit-transform: translate(-300px);
    transform: translateX(-300px);
  }
}
@media only screen and (min-width: 800px) {
  #menuNav {
    -webkit-transform: translate(0);
    transform: translateX(0);
    position: static;
    /*fisso sulla sinistra*/
  }
  #menuButton{
    display: none;
  }
  /*:root {
    --margin-layout: 24px;
    --negative-margin-layout: -24px;
  }*/
}
/*Desktop*/
@media only screen and (min-width: 1000px) {
  #menuNav {
    -webkit-transform: translate(-300px);
    transform: translateX(-300px);
    position: fixed;
    /*scorrimento da sinistra*/
  }
  #menuButton{
    display: block;
  }
}
/*2K TV*/
@media only screen and (min-width: 1440px) {
  #menuNav {
    -webkit-transform: translate(0);
    transform: translateX(0);
    position: static;
    /*fisso sulla sinistra*/
  }
  #menuButton{
    display: none;
  }
}
/*2K TV*/
@media only screen and (min-width: 2500px) {
  body, html {
    font-size: 26px;
  }
}
