* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    /* padding: 15px; */
    /* border: 1px solid red; */
}
.padding_bottom{
    padding-bottom: 32px;
}

body{
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding-top: 60px; /* stessa altezza della nav fixed*/
    }

/* Intestazione PIETRO */
/* Barra */

nav{
    margin: 0;
    background-color: #b30000;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
}

#left_nav{
    width:40%;
    float: left;
    overflow: hidden;
}

/* Icona Menù */

.icona{
    width: 11%;
    float: left;
    cursor: pointer;
    margin: 10px 5% 0 5%;
}

#barra1, #barra2, #barra3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change #barra1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change #barra2 {opacity: 0;}

.change #barra3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Zona Profilo */

#profilo{
    height: 45px;
    width: 45px;
    margin: 7.5px 0 5px 1%;
    float: left;
    border-style: solid;
    border-color:white;
    border-width: 1px;
}

#nome{
    color: white;
    margin: 10px 10px;
    float:left;
}

#nome h2{
    margin:0;
    padding: 0;
    position: relative;
    top:3px;
}

/* Logo */

#logo {
    width: 20%;
    height: 60px;
    overflow: hidden;
    float: left;
    color: white;
    margin-top:0;
    text-align:center;
}

#logo img{
    margin-top:4px;
    height: 50px;
    width: 65px;
}

/* Notifiche */

#notifiche{
    overflow: hidden;
    width: 40%;
    height: 60px;
    float: right;
}

#notifiche img{
    position:relative;
    top:12.5px;
    left:88%;
    height: 35px;
    width: 35px;
}

/* Parte principale */

main {
    color: #797c7e;
}

main h1 {
    margin-left: 16.66%; 
}


form{
    margin: 0 16.66%;
    font-size: 1.2em;
}

input, select, textarea { 
    font-family: 'EB Garamond', serif;
    font-size: 0.9em;
}

input[type=text], input[type=date], input[type=time], select{
    width: 90%;
    color: #797c7e;
    padding: 13px 10px;
}

textarea{
    width: 95%;
    color: #797c7e;
    padding: 13px 10px;
}

input[type=button], input[type=submit], input[type=reset] {
    background: transparent;
    border: 1px solid #797c7e;
    color: #797c7e;
    cursor: pointer;
    padding: 13px 32px;
}

input[type=reset] {
    border: none;
}

input[type=submit] {
    float: right;
    box-shadow: 0 0 10px 1px #ccc;               
}

div.submit_row {
    padding-right: 5%;
}



/* For Desktop */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 480px) {

    #profilo{
        display:none;
    }

    #nome{
        display:none;
    }

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    textarea {
        width: 90%;
    }

    input[type=button] {
        display: none;
    }
    
    input[type=reset] {
        padding: 10px 5px;
    }

    input[type=submit] {
        background: #b30000;
        color: white;
        padding: 13px 32px;
        box-shadow: unset;
        border: none;
        padding: 10px 16px;
    }

    div.submit_row {
        padding-right: 10%;
    }
}