* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    /* padding: 15px; */
    /* border: 1px solid red; */
}

html {
    font-family: 'EB Garamond', serif;
}

body {
    /* margin: 0; */
}

header.info_bar {
    overflow: hidden;
    background-color: #c00;
    color: white;
    font-size: 22px;
}

div.ham, div.title_page, div.bell{
    padding: 15px;
}

img.photo_profile{
    width: 52px;
    border: 1px solid white;
}


div.bell{
    text-align: right;
}



nav.menu {
    padding: 0;
}

.menu ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    background-color: white;

}

.menu li {
    padding: 20px 0 20px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 22px;
}

.menu li:first-child{
    font-weight: bold;
}

.menu a {
    color: #797c7e;
    background: transparent;
    text-decoration: none;
}

.menu a:hover {
    background: #c00;
    color: #fff;
}

main {
    padding: 0px;
    background-color: #eaeaea;
}

.library_header img {
    width: 100%;
}

.library_header h2 {
    
    border: 1px solid #ccc;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: #797c7e;
    margin: auto;
    position: relative;
    bottom: 30px;
    z-index: 1;

    font-size: 22px;
}

.library_header p:nth-child(3) {
    background-color: white;
    color: #797c7e;
    font-size: 18px;
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
    bottom: 56px;
}

section.event_list{
    padding-bottom: 30px;
}

div.event_details{
    overflow: hidden;
    background-color: white;
    height: 20%;
}
div.event_details p, div.event_details h2 {
    margin: 0;
    color: #373939;
}



/* For Desktop */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}