<div class="page">
  <app-header></app-header>
  <div class="pageContent">
    <app-sidemenu></app-sidemenu>
    <main>
      <nav>
        <a routerLink="/home" routerLinkActive="active">home</a>
        <a routerLink="/profile" routerLinkActive="active">profile</a>
        <a routerLink="/new-event" routerLinkActive="active">new event</a>
        <a routerLink="/error" routerLinkActive="active">error</a>
      </nav>
      <!--contenuto della pagina-->
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-page-login></app-page-login>
</div>

