<header class="blurable" [ngClass]="isCalendarOpen? 'blur' : 'focus'">
  <div class="width35 mobile">
    <div id="menuButton" class="headerButton" [ngClass]="isMenuOpen ? 'change': '' " (click)="menuClicked()">
      <div id="barra1"></div>
      <div id="barra2"></div>
      <div id="barra3"></div>
    </div>
  </div>

  <div routerLink="/home" class="flexGrow headerButton mobile" (click)="closeSideMenu()">
    <h1 class="contentVerticalCenter">ilClub</h1>
  </div>

  <div class="width35 overflow mobile">
    <div routerLink="esplora" class="headerButton floatRight" [style.background-image]="'url(./assets/search.png)'" (click)="closeSideMenu()">
    </div>
  </div>
  <div routerLink="/home" class="headerButton homeHeaderButton desktop" (click)="closeSideMenu()">
    <h1 class="contentVerticalCenter">&nbsp;&nbsp; ilClub</h1>
  </div>
  <div class="desktop">
    <div routerLink="new-event" class="headerButton contentCenter" [style.background-image]="'url(./assets/new.png)'"></div>
  </div>
  <div class="desktop">
    <div routerLink="profile" class="headerButton contentCenter" [style.background-image]="'url(./assets/user.png)'" ></div>
  </div>
  <div class="desktop">
    <div routerLink="esplora" class="headerButton contentCenter" [style.background-image]="'url(./assets/search.png)'"></div>
  </div>
  <div class="desktop">
    <div (click)="logout()" class="headerButton contentCenter" [style.background-image]="'url(./assets/logout.png)'"></div>
  </div>
</header>
